<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
    </style>
</head>
<body class="body-container">
<div th:replace="~{fragments/header :: header}"></div>

<div th:with="study_invitation_id=${T(dk.cachet.carp.webservices.email.util.EmailTemplateUtil).INLINE_STUDY_INVITATION_ID},
              study_description_id=${T(dk.cachet.carp.webservices.email.util.EmailTemplateUtil).INLINE_STUDY_DESCRIPTION_ID}">
    <div class="content">
        <h3 style="text-align: center;"><br><strong>Welcome to the Copenhagen Research Platform</strong></h3>
        <p style="text-align: center;">(information på dansk nedenfor)</p>
        You are invited to the "<span th:text="*{__${study_invitation_id}__}"></span>" study. Here is a short description of the study: "<span th:text="*{__${study_description_id}__}"></span>"
        <p> You will shortly receive an email containing information on how to register. </p>
        <p> We would ask you to register to the system by clicking the link in the email. </p>
    </div>


    <hr>

    <div class="content">
        Du er hermed inviteret til at deltage i "<span th:text="*{__${study_invitation_id}__}"></span>" studiet.
        Dette er en kort beskrivelse af studiet:
        "<span th:text="*{__${study_description_id}__}"></span>"
        <p>Du vil snarest modtage en mail med information om, hvordan du tilmelder dig.</p>
        <p>Vi skal bede dig om at registrere dig ved at klikke på følgende link.</p>
    </div>
    <div class="content">
        Thank you.
        <p><a href="https://carp.cachet.dk">Copenhagen Research Platform (CARP)</a> – <a href="https://carp.cachet.dk/privacy-policy-service/">Privacy Policy</a></p>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>