<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <div th:replace="fragments/header-logo-only :: header-logo-only-css"></div>
    <div th:replace="fragments/footer :: footer-css"></div>
    <style>
        .body-container {
            background-color: #f1f9fa;
            color: #1D1D1B;
            margin: 0;
        }

        .content {
            padding: 20px 50px 20px 50px;
            box-sizing: border-box;
            width: 100%;
            margin: auto;
            background-color: #fff;
            font-size: 20px;
            color: #1D1D1B;
        }
    </style>
</head>
<body class="body-container">
<div th:replace="fragments/header-logo-only :: header-logo-only"></div>

<div class="content"
     th:with="email_body=${T(dk.cachet.carp.webservices.common.email.util.EmailTemplateUtil).NOTIFICATION_EMAIL}">
    <p>Dear Participant!</p>
    <p></p>
    <p></p>
    <p>You are receiving this message because you are partaking in a study on the Copenhagen Research Platform.</p>
    <p></p>
    <p>The content of the message: </p>
    <p></p>
    <p><strong><span th:text="*{__${email_body}__}"></span></strong></p>
    <p></p>
    <p></p>
    <p>Thank you!</p>
    <p>The CACHET Team</p>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>