<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <div th:replace="fragments/header :: header-css"></div>
    <div th:replace="fragments/footer :: footer-css"></div>

</head>
<body class="body-container">
<div th:replace="fragments/header :: header"></div>

<div class="content">
    <p>Copenhagen Research Platform.</p>
    <p></p>
    <p></p>
    <p>WARNING ALERT: </p>
    <p></p>
    <p><strong><span th:text="*{__${T(dk.cachet.carp.webservices.email.util.EmailTemplateUtil).NOTIFICATION_EMAIL}__}"></span></strong></p>
    <p></p>
    <p></p>
    <p>Thank you!</p>
    <p>The CARP Team</p>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>