global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    metrics_path: '/actuator/prometheus'
    scrape_interval: 15s
    static_configs:
      - targets: ['host.docker.internal:8080']
        labels:
          application: 'CARP Webservices'

  - job_name: 'node'
    static_configs:
      - targets: ['carp-node-exporter:9100']